@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(https://modern-todo-list.vercel.app/img/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  background-color: rgb(255, 253, 253);
}
